extends ../../layouts/default.pug
block main

    .container.my-5
        .row.justify-content-center
            .col-md-8
                .card.p-4.shadow
                    h4.text-center.text-uppercase.mb-4 Thông tin chuyển khoản ngân hàng

                    .text-center.mb-4
                        img(src="/images/qrcode.jpg", alt="QR chuyển khoản", width="250")
                        p.text-muted.mt-2 (Quét mã QR để chuyển nhanh)

                    table.table
                        tr
                            th Ngân hàng:
                            td TPBank - Chi nhánh TP. Hà Nội
                        tr
                            th Số tài khoản:
                            td 10944387777
                        tr
                            th Tên người thụ hưởng:
                            td Trịnh Hoàng Hiệp
                        tr
                            th Số tiền:
                            td.text-danger.font-weight-bold #{amount.toLocaleString('vi-VN')} VND
                        tr
                            th Nội dung chuyển khoản:
                            td.font-italic #{transferContent}

                    .alert.alert-info.mt-4
                        | Vui lòng chuyển khoản đúng nội dung và số tiền. Hệ thống sẽ xử lý sau khi xác nhận thanh toán.

                    a.btn.btn-outline-primary.mt-3(href="/") Quay lại trang chủ
