footer.footer.bg-dark.text-white.py-4
  .container
    .row
      // Cột 1: Thông tin cửa hàng
      .col-md-3.mb-3
        h5.mb-3 GYM LORD
        p Hệ thống cung cấp thiết bị tập gym, whey protein, vitamin, phụ kiện gym chính hãng. Cam kết chất lượng, giá tốt, giao hàng miễn phí toàn quốc.
      
      // Cột 2: Chính sách
      .col-md-3.mb-3
        h5.mb-3 Chính sách
        ul.list-unstyled
          li
            a(href="/policy/purchase" class="text-white text-decoration-none") Chính sách mua hàng
          li
            a(href="/policy/return" class="text-white text-decoration-none") Chính sách đổi trả
          li
            a(href="/policy/warranty" class="text-white text-decoration-none") Chính sách bảo hành
          li
            a(href="/policy/delivery" class="text-white text-decoration-none") Chính sách giao hàng
      
      // Cột 3: Hướng dẫn
      .col-md-3.mb-3
        h5.mb-3 Hướng dẫn
        ul.list-unstyled
          li
            a(href="/guide/purchase" class="text-white text-decoration-none") Hướng dẫn mua hàng
          li
            a(href="/guide/payment" class="text-white text-decoration-none") Hướng dẫn thanh toán
          li
            a(href="/guide/return" class="text-white text-decoration-none") Hướng dẫn đổi trả
          li
            a(href="/guide/contact" class="text-white text-decoration-none") Hướng dẫn liên hệ
      
      // Cột 4: Kết nối và thanh toán
      .col-md-3.mb-3
        h5.mb-3 Kết nối với chúng tôi
        .d-flex.mb-3
          a(href="https://facebook.com" target="_blank" class="mr-2")
            img(src="/images/facebook-logo.webp" alt="Facebook" style="width: 32px; height: 32px; border-radius: 50%;")
          a(href="https://instagram.com" target="_blank" class="mr-2")
            img(src="/images/Instagram.png" alt="Instagram" style="width: 32px; height: 32px; border-radius: 50%;")
          a(href="https://tiktok.com" target="_blank" class="mr-2")
            img(src="/images/tiktok.png" alt="TikTok" style="width: 32px; height: 32px; border-radius: 50%;")
          a(href="https://lazada.vn" target="_blank" class="mr-2")
            img(src="/images/lazada.png" alt="Lazada" style="width: 32px; height: 32px; border-radius: 50%;")
          a(href="https://shopee.vn" target="_blank")
            img(src="/images/shopee.png" alt="Shopee" style="width: 32px; height: 32px; border-radius: 50%;")
        
        h5.mb-3 Hỗ trợ thanh toán
        .d-flex.flex-wrap
          img(src="/images/momo.png" alt="Momo" style="width: 50px; height: 30px; margin: 0 5px 5px 0;")
          img(src="/images/zalopay.png" alt="ZaloPay" style="width: 50px; height: 30px; margin: 0 5px 5px 0;")
          img(src="/images/vnpay.png" alt="VNPay" style="width: 50px; height: 30px; margin: 0 5px 5px 0;")      
          img(src="/images/atm.jpg" alt="ATM" style="width: 50px; height: 30px; margin: 0 5px 5px 0;")